.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: 
    #0f2027;  
  background-size: cover;
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  background: rgba(0, 50, 70, 0.8);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 40px 30px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
}
 
.title {
  font-size: 2rem;
  color: #00f0ff;
  margin-bottom: 20px;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.label {
  color: #c0e8ef;
  font-weight: 500;
  text-align: left;
}


.input {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
}

 
.btn {
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
  font-size: 1rem;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  display: block;  
}

 
.btnadd {
  background: linear-gradient(135deg, #00f0ff, #0088cc);
}

.btnadd:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

 
.btnEdit {
  background: linear-gradient(135deg, #ffbb33, #ff8800);
}

.btnEdit:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}


.btnsave {
  background: linear-gradient(135deg, #4caf50, #388e3c);
}

.btnsave:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}


.btndelete {
  background: linear-gradient(135deg, #ff3b3b, #cc0000);
}

.btndelete:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}


.btncancel {
  background: linear-gradient(135deg, #f44336, #d32f2f);
}

.btncancel:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

 
.btnlogout {
  background: linear-gradient(135deg, #2196f3, #1976d2);
}

.btnlogout:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}


.registerText {
  margin-top: 15px;
  color: #c0e8ef;
}

.registerLink {
  color: #00ffcc;
  font-weight: 600;
  cursor: pointer;
}


.buttons {
  display: flex;
  justify-content: space-between;    
  gap: 15px;                         
  flex-wrap: wrap;                   
  margin-top: 20px;                  
  width: 100%;                      
}


@media (max-width: 768px) {
  .card {
    padding: 30px 20px;
    max-width: 90%;
  }

  .title {
    font-size: 1.8rem;
  }

  .input {
    font-size: 0.95rem;
    padding: 8px 12px;
  }

  .btn {
    font-size: 0.95rem;
    padding: 10px 18px;
  }

  .buttons {
    flex-direction: column;  
    gap: 10px;                 
  }
}

@media (max-width: 480px) {
  .card {
    padding: 20px 15px;
  }

  .title {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 0.9rem;
    padding: 8px 15px;
  }

  .buttons {
    gap: 8px;   
  }

}
